.notFound {
    display: flex;
    height: 80rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound h1 {
    color: #000;
}

.notFound a {
    color: var(--primary);
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}